client/public/userDirectories/images/Red_X.png
client/public/userDirectories/*
client/public/appDirectories/*
client/public/*
client/build
client/dist
build
client/public/wallpapers
TizonaManager.exe
node_modules
dist
distOld
.env

SSL/*
!SSL/.gitkeep
storage/directories/*
storage/userProfileImages/*
!storage/userProfileImages/.gitkeep
!storage/directories/publicDirectories/
storage/directories/publicDirectories/*
!storage/directories/publicDirectories/.gitkeep
plugins/*
!plugins/.gitkeep

TizonaServer.zip

